*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #999; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body
{
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 220vh;
}
.dark-mode
{
    background: #000;
    color: #fff;
}
.dark-mode a{
    color: #fff;
}
.fa-moon{
    cursor: pointer;
}
.dark-mode .fa-moon{
    color: gold;
}
.container-home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 8px;
    border-radius: 30px;
}
a:hover{
    box-shadow: 0px 0px 8px 4px rgba(24,118,252,0.75);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(24,118,252,0.75);
    -moz-box-shadow: 0px 0px 8px 4px rgba(24,118,252,0.75);
}
nav{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #1876fc;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.75);
}
.dark-mode nav{
    background: #000;
    box-shadow: 0px 8px 8px 1px rgba(24,118,252,0.75);
    -webkit-box-shadow: 0px 8px 8px 1px rgba(24,118,252,0.75);
    -moz-box-shadow: 0px 8px 8px 1px rgba(24,118,252,0.75);
}

/* HOME BANNER CONTENT */
.nav-left, .nav-right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left img{
    width: 200px;
    height: 110px;
    margin: 5px 0;
}
.nav-right{
    width: 40%;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 0;
}
.nav-links{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-banner{
    top: 12vh;
    width: 100%;
    min-height: 88vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image-div, .text-div{
    width: 50%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    object-fit: cover;
}
.image-div{
    margin: 5px 0;
    width: 47%;
    height: 85vh;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}
.image-div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.text-div h3{
    width: fit-content;
    font-size: 0.9em;
    text-align: center;
    background: #1876f2;
    color: #000;
    padding: 5px;
    margin-bottom: 25px;
    font-weight: 600;
    border-radius: 10px;
}
.dark-mode .text-div h3{
    color: #fff;
}
.text-div h1{
    font-size: 2.6em;
    margin-bottom: 20px;
    font-weight: 900;
}
.text-div p{
    text-align: center;
    font-size: 1.2em;   
    margin-bottom: 20px;
}
.text-div button{
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
    background: #1876f2;
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    
}
.text-div button:hover, form button:hover{
    box-shadow: 0px 0px 8px 4px rgba(24,118,252,0.75);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(24,118,252,0.75);
    -moz-box-shadow: 0px 0px 8px 4px rgba(24,118,252,0.75);
    cursor: pointer;
}
.dark-mode .text-div button{
    color: #fff;
}
form{
    background: #fff;
    display: none;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 75vh;
    position: relative;
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px 20px;
}
.fa-circle-xmark{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 1.7em;
    color: #1876fc;
    cursor: pointer;
}
form h2{
    margin: 10px 0;
    color: #555;
}
form input{
    padding: 0 15px;
    height: 40px;
    font-size: 1.1em;
    border-radius: 10px;
    background: #efefef;
    border: none;
}
form textarea{
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 10px;
    background: #efefef;
    border: none;
}
form button{
    width: fit-content;
    padding: 10px 18px;
    display: flex;
    align-self: center;
    font-size: 1.1em;
    border-radius: 20px;
    background: #1876fc;
    border: none;
    outline: none;
}
.dark-mode form{
    background: #000;
    color: #fff;
    border: 2px dotted #1876fc;
}
.dark-mode form h2, .dark-mode form button{
    color: #fff;
}
/* HOME BANNER CONTENT */
hr{
    width: 35%;
    border: 1px solid #555;
    margin: 30px 0;
    display: flex;
    align-self: center;
}
.dark-mode hr{
    border: 1px solid #efefef;
    
}
/* ABOUT US CONTENT */
.about-banner{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.about-banner > .text-div{
    position: relative;
}
.about-banner > .text-div h3{
    position: absolute;
    top: 10%;
    width: 140px;
    letter-spacing: 1.5px;
    word-spacing: 7px;
}
.about-banner > .text-div h1{
    font-size: 2em;
    margin: 0 0 20px 0;
}
.about-banner > .text-div p{
    margin-bottom: 25px;
    text-align: justify;
    line-height: 30px;
}
.about-banner > .image-div{
    width: 45%;
    height: 80%;
    overflow: hidden;
    border-radius: 15px;
    object-fit: cover;
    border: 2px dashed #1876fc;
}
/* ABOUT US CONTENT */

/* OUR SERVICE STYLE */
.our-service{
    width: 80%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 25px 0 0;
}
.our-service h3{
    position: absolute;
    top: 0;
    left: 38%;
    font-size: 1.5em;
    z-index: 5;
}
.our-service-text{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.our-service-text h4{
    background: #1876fc;
    margin-bottom: 20px;
}
.our-service-text h1{
    margin-bottom: 35px;
}
.our-service-text p{
    margin-bottom: 35px;
}
.our-service-text a{
    border: 1px solid #1876fc;
    border-radius: 0;
    padding: 0;
    margin: 0;
    color: #1876fc;
    font-weight: 600;
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1.5em;
}
.our-service-text a i{
    margin-left: 5px;
}
.our-service-text a:hover{
    background: #efefef;
    box-shadow: none;
}
/* OUR SERVICE STYLE */
/* CAROUSEL STYLE */
.carousel-container{
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Slideshow container */
.slideshow-container {
    width: 550px;
    height: 350px;
    position: relative;
    margin: 0;
    overflow: hidden;
    border: 2px dotted #1876fc;
    border-radius: 15px;
    object-fit: cover;
    /* display: flex;
    flex-direction: column; */
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    box-shadow: none;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/* CAROUSEL STYLE */

/* FOOTER STYLE */
.footer{
    width: 100%;
    height: 10vh;
    background: rgb(5, 5, 71);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p img{
    width: 70px;
    height: 40px;
    margin-right: 5px;
}
.footer p{
    margin: 10px;
    display: flex;
    align-items: center;
}
/* FOOTER STYLE */
/* RESPONSIVE FOR TAB SIZE */
@media (max-width: 1000px){
    .nav-left{
        width: 40%;
    }
    .nav-right{
        width: 55%;
    }
    .nav-links{
        width: 70%;
        font-size: 0.8em;
    }
    .our-service{
        flex-direction: column;
        padding: 60px 0 0;
        margin-bottom: 40px;
        height: 120vh;
    }
    .our-service h3{
        left: 35%;
        top: 2%;
    }
    .our-service-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .our-service-text a{
        margin-bottom: 15px;
    }
    .carousel-container{
        width: 100%;
    }
    .slideshow-container{
        width: 100%;
        height: 100%;
    }
    .footer{
        height: 10vh;
        width: 100%;
    }
}
/* RESPONSIVE FOR TAB SIZE */

/* RESPONSIVE FOR PHONE SIZE */
@media (max-width: 730px){
    nav{
        padding: 0 15px;
    }
    .nav-left img{
        width: 150px;
        height: 90px;
        /* margin-top: 10px; */
    }
    .nav-right{
        width: 60%;
        justify-content: space-between;
        padding-right: 15px;
    }
    .home-banner{
        flex-direction: column;
        padding-top: 20px;
        height: 120vh;
    }
    .image-div, .text-div{
        width: 95%;
        height: 58vh;
        padding: 0;
    }
    form{
        width: 90%;
        top: 30%;
        left: 5%;
    }
    hr{
        width: 80%;
        margin-top: 37vh;
    }
    .about-banner{
        /* margin-top: 35vh; */
        width: 100%;
        height: 120vh;
        flex-direction: column;
    }
    .about-banner > .text-div{
        height: 55%;
    }
    .about-banner > .text-div h3{
        top: 3%;
    }
    .about-banner > .text-div h1{
        margin-top: 55px;
    }
    .about-banner > .text-div p{
        text-align: cen3ter;
    }

    .about-banner > .image-div{
        height: 45%;
        width: 90%;
    }
    .our-service{
        height: 140vh;
        flex-direction: column;
        padding: 50px 0 0;
        height: 120vh;
    }
    .our-service h3{
        left: 35%;
        top: 2%;
    }
    .our-service-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .carousel-container{
        width: 100%;
    }
    .slideshow-container{
        width: 100%;
        height: 100%;
    }
    
}
/* RESPONSIVE FOR PHONE SIZE */

/* RESPONSIVE FOR MINI PHONE */
@media (max-width: 500px){
    .nav-links{
        display: none;
    }
    .nav-right{
        align-items: center;
        justify-content: flex-end;
    }
}
/* RESPONSIVE FOR MINI PHONE */